@media screen and (max-width: 1100px) {
  .bagian1 {
    margin: 0;
  }
  .isi,
  .row {
    flex-wrap: wrap-reverse;
  }
  .isi img {
    width: 100%;
    border-radius: unset;
  }
  .heading-left {
    width: 100%;
  }
  .faculty {
    width: 100%;
  }
}
@media screen and (max-width: 800px) {
  .isi {
    border-left: unset;
    border-radius: unset;
    margin-bottom: 30px;
  }
  .judul h1,
  .heading-right h1,
  .sejarah h1 {
    border-left: 10px solid #fdcb2c;
  }
  .isi p {
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
  }
  .sejarah img {
    width: 100%;
  }
  .sejarah h1,
  .judul h1,
  .heading-right h1 {
    font-size: 2em;
  }
  .container {
    margin: 0;
  }
  .heading-left img {
    width: 100%;
    height: unset;
  }
  .heading-right p {
    width: unset;
    height: unset;
    padding: 20px 35px 20px 35px;
  }
  .heading-right {
    padding: unset;
  }
  .heading-right h1 {
    width: 100%;
    text-align: left;
  }
  .isi p {
    font-size: 1.3em;
  }
  .text1 {
    padding-left: 15px;
  }
  .text2 {
    padding-right: 15px;
  }
  .faculty {
    padding: 0 15px 0 15px;
  }
  .menu {
    padding: 0 12px 0 12px;
  }
  .up-section ul, .dwn-section ul {
    padding: 0;
    width: 50%;
  }
  .social, .search {
    width: 50%;
  }
}
@media screen and (max-width: 500px) {
  .text1,
  .text2 {
    flex-basis: 100%;
  }
  .sejarah h1,
  .judul h1,
  .heading-right h1 {
    font-size: 1.5em;
  }
  .up-section img {
    margin: 0 auto;
  }
  .social,
  .search,
  .search input {
    width: 100%;
  }
  .social-icons {
    justify-content: center;
  }
  .header-list ul {
    padding: 3px 2px;
  }
  .isi p {
    font-size: 1em;
  }
  .text1 {
    padding: 0 15px 0 15px;
  }
  .text2 {
    padding: 0 15px 0 15px;
  }
  .up-section ul, .dwn-section ul {
    width: 100%;
  }

}

@media screen and (max-width: 400px) {
  .isi {
    border-left: unset;
  }
}
